body{
    margin: 0;
    padding: 0;
}
.header{
    height: 100px;
    background-color: red;
}
.board2{
    width: 20%;
    height:600px;
    float: left;
    background-color: aqua;
}
.board3{
    width: 60%;
    height: 600px;
    float:left;
    background-color: black;
}
.board4{
    width: 20%;
    height: 600px;
    background-color: aqua;
    float: right;
    
}
.footer{
    height: 100px;
    background-color: red;
    clear: both;
}